<div class='cover-body'>
  <div class='top'>
    <% if (theme.cover.logo) { %>
      <img no-lazy class='logo' src='<%- url_for(theme.cover.logo) %>'/>
    <% } %>
    <% if (theme.cover.title) { %>
      <p class="title"><%- theme.cover.title ? theme.cover.title : config.title %></p>
    <% } %>
    <% if (theme.cover.subtitle) { %>
      <p class="subtitle"><%- theme.cover.subtitle%></p>
    <% } %>
  </div>
  <div class='bottom'>
    <% if (theme.search.enable === true) { %>
      <div class="m_search" style="margin-top:40px;margin-bottom: 15px;">
        <form name="searchform" class="form u-search-form">
          <input type="text" class="input u-search-input" placeholder="<%- theme.cover && theme.cover.search %>" />
          <i class="icon fas fa-search fa-fw"></i>
        </form>
      </div>
    <% } %>
    <div class='menu navigation'>
      <div class='list-h'>
        <% if (theme.cover.features) { %>
          <% (theme.cover.features || []).forEach(function(value){ %>
            <a href="<%= url_for(value.url) %>"
              <% if (value.rel) { %>
                rel="<%- value.rel %>"
              <% } %>
              <% if (value.target) { %>
                target="<%- value.target %>"
              <% } %>
              id="<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>">
              <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %><p><%- value.name %></p>
            </a>
          <%})%>
        <% } %>
      </div>
    </div>
  </div>
  <!-- 打字特效 -->
  <script src="https://cdn.jsdelivr.net/gh/illusi1ons/CDN/js/typed.js"></script>
  <div style="text-align:center;font-weight:bold;margin:15px;color:#31a289d1;text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);">
    <span id="subtitle"></span>
    <span id="typed-cursor"></span>
  </div>
  <script>
    var typed = new Typed("#subtitle",
    { strings:["Live a good life, write some good code !!!", 
    "愿自己的努力终将获得回报。", 
    "花开不是为了花落，而是为了开的更加灿烂。", 
    "没有伞的孩子必须努力奔跑！", 
    "欲望以提升热忱，毅力以磨平高山。", 
    "如果放弃太早，你永远都不知道自己会错过什么。", 
    "没有礁石，就没有美丽的浪花；没有挫折，就没有壮丽的人生。"],
    startDelay:700,typeSpeed:65,loop:!0,backSpeed:60,backDelay:2000,showCursor:!0})
  </script>
</div>
